venv
*.csv
.ipynb_checkpoints/
*.pkl
*.joblib
qa_pairs.jsonl
**/__pycache__/
*.log
*.out
models/llm_model/checkpoint**
models/llm_model/runs/**
notebook.ipynb
models/llm_model/**
confusion_matrix.png
roc_curve.png
*.onnx
.coverage
app/.env
.$netsentenial.drawio.bkp
faiss_index/
